<!-- <svg [attr.width]="width" [attr.height]="height" class="pianoroll">
    <g *ngFor="let note of NotesPositions">
        <rect [id]="note.Id" (cdkDragEnded)="dragEnd($event)" cdkDrag [attr.x]="note.X" [attr.y]="note.Y"
            [attr.width]="note.Width" [attr.height]="note.Height" rx="4" />
    </g>



</svg> -->

<div class="noteContainer" [ngStyle]="{
    'width.px': width,
    'height.px': height 
   }">
    <div cdkDrag [ngClass]="[className]" [ngStyle]="{
        'top.px': note.Y,
        'left.px': note.X,
        'width.px': note.Width,
        'height.px': note.Height,
        'border': '0.5px solid #dcdcdc',
        'background-color': '#2d2738' 
       }" [id]="note.Id" (cdkDragEnded)="dragEnd($event)" *ngFor="let note of NotesPositions">
        <div class="example-handle" cdkDragHandle>yello</div>
    </div>
</div>