rect {
    fill: coral;
    stroke: rgb(4, 4, 5);
    cursor: move;

    &.mouse-down {
        fill: blue;
    }

    &.mouse-up {
        fill: green;
    }
}

.note {
    position: absolute;
    border: 2px;
    border-radius: 1px;
    border-color: rgb(0, 0, 0);
    resize: horizontal;
    overflow: auto; // background-color: rgb(177, 138, 79);
}

.noteContent {
    font-size: xx-small;
    color: azure;
    vertical-align: text-top;
}

.noteContainer {
    background-color: #25c039;
    position: relative;
    margin: auto;

}


.pianoroll {
    background-color: chocolate;
}