.pads {
    background-color: crimson;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: 25fr 25fr 25fr 25fr;
    grid-template-areas:
        "a13 a14 a15 a16"
        "a9 a10 a11 a12"
        "a5 a6 a7 a8"
        "a1 a2 a3 a4";
    font-weight: bold;
    text-align: center;
    grid-gap: 5px;
}

.a1 {
    grid-area: a1;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a2 {
    grid-area: a2;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a3 {
    grid-area: a3;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a4 {
    grid-area: a4;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a5 {
    grid-area: a5;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a6 {
    grid-area: a6;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a7 {
    grid-area: a7;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a8 {
    grid-area: a8;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a9 {
    grid-area: a9;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a10 {
    grid-area: a10;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a11 {
    grid-area: a11;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a12 {
    grid-area: a12;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a13 {
    grid-area: a13;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a14 {
    grid-area: a14;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a15 {
    grid-area: a15;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}

.a16 {
    grid-area: a16;
    background-color: blue;
    height: 90px;
    aspect-ratio: 1;
}