<div class="pads">
    <div class="a1"><button mat-raised-button color="primary">A1</button></div>
    <div class="a2"><button mat-raised-button color="primary">A2</button></div>
    <div class="a3"><button mat-raised-button color="primary">A3</button></div>
    <div class="a4"><button mat-raised-button color="primary">A4</button></div>
    <div class="a5"><button mat-raised-button color="primary">A5</button></div>
    <div class="a6"><button mat-raised-button color="primary">A6</button></div>
    <div class="a7"><button mat-raised-button color="primary">A7</button></div>
    <div class="a8"><button mat-raised-button color="primary">A8</button></div>
    <div class="a9"><button mat-raised-button color="primary">A9</button></div>
    <div class="a10"><button mat-raised-button color="primary">A10</button></div>
    <div class="a11"><button mat-raised-button color="primary">A11</button></div>
    <div class="a12"><button mat-raised-button color="primary">A12</button></div>
    <div class="a13"><button mat-raised-button color="primary">A13</button></div>
    <div class="a14"><button mat-raised-button color="primary">A14</button></div>
    <div class="a15"><button mat-raised-button color="primary">A15</button></div>
    <div class="a16"><button mat-raised-button color="primary">A16</button></div>
</div>